<!--views/events/travel.ejs-->
<% include ../layouts/header %>

<div class="row">
  <div class="small-12 columns">
    
      <h1 class="subheader">Out of Town Guests</h1>
      
      <p class="panel callout">
         We welcome all guests! Hope that you can make it. To help we have provided a few links for those of you that are coming from out of town. There are links to Hipmunk and Kayak for those flying in. Below that you will find quick links to Yelp to find local restaurants and accommodations.
      </p>

      <h3 class="subheader">Travel</h3>

      <div class="panel">
        <ul>
          <li><a href="https://www.hipmunk.com/flights/">Hipmunk</a></li>
          <li><a href="https://www.kayak.com/flights">Kayak</a></li>
        </ul>
      </div>

    <hr>
    
    </div>
</div>

<div class="row">
  <div class="small-12 columns">

    <h3 class="subheader">Local Hotels and Restaurants</h3>
    <div class="panel">
      <ul>
        <li><a href="http://www.yelp.com/search?find_desc=hotel&find_loc=Portland,+OR+97223">Local Hotels on Yelp</a></li>
        <li><a href="http://www.yelp.com/search?find_desc=restaurant&find_loc=Portland,+OR+97223">Local Restaurants on Yelp</a></li>
      </ul>
    </div>

  </div>
</div>

<% include ../layouts/footer %>