h1{
  font-family: 'Noto Serif', serif;
}

body{
    /*background: url("../../img/vintagePaper/TEXTURE A.jpg") no-repeat center center fixed;
    background-size: cover;*/
   /* min-width: 1024px;
    min-height: 768px;
    margin: 0 auto;*/
    /*opacity: 0.85;*/
    font-family: 'Noto Serif', serif;
    background-color: #ebe1de; /* or pastel blue #dee8eb */
}
.tab-bar {
    background: #6e5f9e;
}


label{
    text-align: center;
}
