<!--views/site/contact.ejs-->
<% include ../layouts/header %>

<!-- wrapper  -->
<div class="row">
  <div class="small-12 columns">
 
      <h1>Get in Touch!</h1>

  </div>
</div>

<div class="row">
  <div class="small-12 panel callout columns">
 
      <p>Harriet loves getting snail mail, but electronic mail is almost as good! Use the form below to send her an email, or use the mailing address provided to really make her day.</p>

  </div>
</div>

<!-- Harriet physical contact form i.e. mailing address :) -->
<div class="row">
  <div class="small-12 columns">  
    <h3 class="subheader">Mailing Address</h3>

      <p>
        <strong>7485 SW Leslie Street<br/>
        Portland, OR 97223<br/></strong>
      </p>
     
  </div>
</div>


<!-- Harriet digital contact form -->
<div class="row">
  <div class="small-12 columns">
 
    <div class="section-container tabs" data-section>
      <section class="section">
        
        <div class="content" data-slug="panel1">
          <form>
            <div class="row collapse">
              <div class="large-2 columns">
                <label class="inline">Your Name</label>
              </div>
              <div class="large-10 columns">
                <input type="text" id="yourName" placeholder="Jane Smith">
              </div>
            </div>
            <div class="row collapse">
              <div class="large-2 columns">
                <label class="inline"> Your Email</label>
              </div>
              <div class="large-10 columns">
                <input type="text" id="yourEmail" placeholder="jane@smithco.com">
              </div>
            </div>
            <label>What's up?</label>
            <textarea rows="4"></textarea>
            <button type="submit" class="button alert expand">Not Working</button>
          </form>
        </div>
      </section>
      
      <hr><br>
    </div>
  </div>
</div>
  

<% include ../layouts/footer %>