<!--views/users/login.ejs-->
<% include ../layouts/header %>

<!-- wrapper  -->
<div class="row">
  <div class="small-12 columns">

    <h1 class="subheader">Login</h1>
    
    <div class="row">
      <div class="panel">
        <p>
          Please sign up with your preferred contact email. We will give the list to Harriet to update her records. Once you sign in please update your mailing address on the user profile page
        </p>
      </div>
    </div>
  
  <div class="row">
      <% include ../layouts/loginSignup %>
  </div>
    

  </div>
</div>

<% include ../layouts/footer %>


<!-- layouts/loginSignup -->
