<form method="POST" action="/users">
  <fieldset>
    
    <legend>Sign Up</legend>
    
    <label>
      <input type="text" name="user[email]" placeholder="username: primary email contact">
    </label>
    
    <label>
      <input type="text" name="user[password]" placeholder="password must be at least 8 characters">
    </label>

    <button class="success expand">signup</button>
  
  </fieldset>
</form>